<br>
<br>
<br>
<br>
<div class="one" id="not-img">
    <div class="content">
        <p>Vrei sa stii ce se intampla cu sangele dupa ce donezi?</p>
        
        <p>Urmareste mai jos traseul sangelui pentru a-ti raspunde la cateva din intrebari!</p>
    </div>
</div>
<img src="assets\resources\images\red-arrow-left.png" alt="left-arrow" class="left-arrow" style="top: 540px;">

<div class="two" id="not-img">
    <div class="content">
        <p>Primul pas in acest proces este cel mai important si mai greu:</p>
        
        <p>Sesizarea problemei lipsei sangelui si dorinta de a ajuta</p>
        <p>Cum deja te afli aici pentru a afla mai multe, deja ai depasit acest obstacol!</p>
    </div>
</div>
<img src="assets\resources\images\red-arrow-down.png" alt="left-arrow" class="down-arrow" style="top: 940px; height: 600px; z-index: -1;">

<div class="three" #three>
    <!-- ⬅️ New ID: `#five` -->
    <!-- ⤵️ Conditional ng-container with `*ngIf` directive -->
    <ng-container *ngIf="showsWebIcon">
        <img src="assets\resources\images\encouragement.gif" alt="encouragement" style="width:600px; height:500px;">

    </ng-container>
</div>
<div class="four" id="not-img">
    <div class="content">
        In urma prezentarii la un centru de donare, vor avea loc cateva verificari preliminare realizate de catre
        medicii specialisti:
        <br><br>
        Mai intai, se prelevează sânge din deget, pentru determinarea hemoglobinei, glicemiei și RH-ului. Ulterior ți se
        face consultația medicală care constă în măsurarea tensiunii arteriale, a frecvenței cardiace, cântărirea.

        Urmează verificarea chestionarului și completarea fișei cu istoricul medical. Abia apoi medicul decide dacă ești
        eligibil pentru donarea de sânge.
    </div>
</div>

<div class="five">
    <img src="assets\resources\images\almost-there.jpg" alt="almost-there" style="height:350px; width: 600px;">
</div>
<img src="assets\resources\images\red-arrow-right.png" alt="right-arrow" class="right-arrow"
    style="top: 1735px;width: 300px; height:600px;transform: rotate(20deg);">

<div class="six" id="not-img">
    <div class="content">
        Odata declarant eligibil,donatorul ajungr in sala de recolta,unde dupa identificarea corecta,doneaza o cantitate
        de 450 ml de sange,intr-un interval de maximum 10 minute. Repausul post donare (15-30 minute) este deosebit de
        important,pentru a se evita aparitia efectelor adverse precum ameteala, stari de greata.
    </div>
</div>
<span id="stiai-ca">
    Stiai ca, o singura perfuzie de sange poate fi folosita de pana la 3 persoane?
</span>
<div class="seven" style="margin-top: 1rem;">
    <img src="assets\resources\images\o_donatie_3_vieti.png" alt="o_donatie_3_vieti"
        style="height:350px; width: 550px;">
</div>
<img src="assets\resources\images\red-arrow-left.png" alt="left-arrow" class="left-arrow"
    style="top: 2450px; width: 300px; height:600px;transform: rotate(-20deg);">

<div class="eight" #eight id="not-img">
    <div class="content">
        In continuare, se efectueaza teste imunohematologice, obligatorii pentru actul transfuzional, stabilite prin
        norme specifice aprobate prin ordin al ministrului sanatatii.
        <br><br>
        In urma acestor teste, sangele si componentele sanguine umane vor fi distribuite prin centrele de transfuzie cu
        rambursare in sistem nonprofit.
    </div>
</div>
<div class="nine" #nine style="margin-bottom:10rem; margin-top:0px;">
    <ng-container *ngIf="showsPublicIcon">
        <img src="assets\resources\images\blood-touch.gif" alt="touch" style="height:500px; width: 700px;">
    </ng-container>
</div>