<div class="about-us">
    <img src="assets\resources\images\fill-heart-nobg.gif" alt="fill-heart" class="about-us-img">

    <div class="text">
        <h2 class="title">Ce este Bloodshed?</h2>
        <p>Bloodshed este o organizatie non profit cu sediul in Iasi care are ca si scop promovarea si incurajarea
            donarii
            de
            sange</p>

        <h2 class="title">OBIECTIVUL PRINCIPAL</h2>

        <p>Realizarea autosuficientei sangelui si derivatelor sanguine labile de origine umana,in vederea asigurarii
            neconditionate,pentru toti pacientii internati in spitatalele
            jud Iasi care necesita terapie transfuzionala,a unor produse sanguine labile de calitate, sigure,in
            cantitate
            suficienta si adecvate nevoii fiecaruia
            In acest sens se are in vedere promovarea donarii de sange prin toate mijloacele,in special in randul
            persoanelor
            tinere,avand drept scop cresterea nr. donatorilor de sange precum si fidelizarea acestora.
        </p>
        <h2 class="title">Scurt istoric:</h2>
        <div class="content">
            <p>
                1900 – Se descopera, de catre medicul austriac Karl Landsteiner, grupele sanguine ale sistemului OAB,
                ceea
                ce a
                permis dezvoltarea si fundamentarea stiintifica a domeniului transfuziei de sange.
            </p>
            <p>
                1923 - Au loc in Romania primele incercari de transfuzie ,prin metoda directa cu seringa ,, Marin
                Popescu’’
            </p>
            <p>
                1942 - Ia fiinta la Iasi Centrul de conservare si Transfuzie de sange,sub coordonarea
                Prof.Dr.I.Nicolau(primul
                Centru
                in 1941- la Bucuresti)
            </p>
            <p>
                1949 - Ministerul Sanatatii infiinteaza si coordoneaza prima Retea de Transfuzie din tara,din care
                faceau
                parte
                un
                nr. de 30 de centre de profil numite Statii de Recoltare si Conservare sange.
            </p>
            <p>
                1950 - Se infiinteaza primele 10 puncte de transfuzie din spitale
            </p>
            <p>
                1974 - Se schimba denumirea in Centrul de recoltare si Conservare sange Iasi-CRCS,devenind sectie a
                spitalului
                jud.Sf.Spiridon.
            </p>
            <p>
                1980 - Se muta sediul din str.K.Marx in strada N.Balcescu nr.21
            </p>
            <p>
                1991 - Se modifica denumirea in Centrul de Transfuzie Sanguina Iasi-CTS.
            </p>
            <p>
                1992 - CTS Iasi intra in subordinea Institutului National de Transfuzie Sanguina Bucuresti.
            </p>
            <p>
                1995 - Apare Legea 4, prima lege moderna a transfuziei sanguine,dupa 1989.
            </p>
            <p>
                2005 - Apare Legea 282, care reglementeaza activitatea de transfuzie si donarea de sange.
            </p>
        </div>
    </div>
</div>